<!DOCTYPE html>
<html>
<head>
    <title>Gharik Wallet - Signup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Create New Account</h2>
        <form method="POST" action="/signup_submit">
            <input type="text" name="identifier" value="{{ identifier }}" placeholder="Email or Phone" required>
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="password" name="password" placeholder="Create Password" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
